@import url("./header.css");
@import url("./header-responsive.css");

@import url("./quick-nav.css");

@import url("./base.css");
@import url("./hero.css");
@import url("./estrategicas.css");
@import url("./compromiso.css");
@import url("./contacto.css");

@import url("./footer.css");

/* Fuente Ancizar */
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:wght@400;500;600;700;800&display=swap');


/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}


body {
    font-family: 'Ancizar Sans', Arial, Helvetica, sans-serif;
    background: #f5f5f5;
}