@import url("./header.css");

/* Fuente Ancizar */
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:wght@400;500;600;700;800&display=swap');


/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Ancizar Sans', Arial, Helvetica, sans-serif;
    background: #f5f5f5;
}
